<div class="container flex jc-center ai-center">
  <div class="board">
    <ng-container *ngFor="let row of board; index as i">
      <div class="cell" *ngFor="let cell of row; index as j" (click)="openField(i, j)">
        {{cell}}
      </div>
    </ng-container>
  </div>
</div>


<ng-container *ngIf="!ready">
  <div class="overlay">
      <h1>
        Waiting...
      </h1>
    <mat-spinner>

    </mat-spinner>
  </div>
</ng-container>

<ng-container *ngIf="preparing">
  <div class="overlay">
    <h1>
      Game ready!
    </h1>
  </div>
</ng-container>

<ng-container *ngIf="gameClosed">
  <div class="overlay">
    <h1>
      Opponent left
    </h1>
  </div>
</ng-container>
